:root { 
--cyan_A400:#0feffd; 
--white_A700_7f:#ffffff7f; 
--red_A400_7f:#ff0e1e7f; 
--gray_900_cc:#1d1d1dcc; 
--white_A700_33:#ffffff33; 
--black_900_01:#0f0d12; 
--green_A700:#0de508; 
--black_900_dd:#0c0c11dd; 
--black_900:#0d0c11; 
--blue_gray_900_a5:#2c2c2ca5; 
--red_A400:#ff0e1e; 
--white_A700_8c:#ffffff8c; 
--red_A700:#e50914; 
--black_900_05:#0c0c1105; 
--blue_gray_100_72:#d7d7d772; 
--gray_900_02:#111111; 
--gray_900_00:#1d1d1d00; 
--gray_900:#17161b; 
--gray_900_01:#1e1e1e; 
--red_A700_0c:#e509140c; 
--gray_200:#ececec; 
--gray_300:#e0e0e0; 
--gray_100:#f5f5f5; 
--black_900_a5:#0c0c11a5; 
--black_900_cc:#000000cc; 
--gray_900_7f:#1d1d1d7f; 
--white_A700:#ffffff; 
}